/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Feb-2015, 20:17:48
    Author     : Assa Chana
*/



.insufficient_funds{
    color:#c0392b;
    font-size: 150%;
}
.total{
    font-size: 30px;
    box-shadow: 10px 10px 5px #888888;
}

h1 {
	background: #E2E2E2;
	padding: 4px;
	font-size: 44px;
	margin: -10px -10px 5px;
	color: #707070;
}

.view-basket h3 {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
li{
	padding: 1px 0px 0px 15px;
        border-style: solid;
    border-color: #7f8c8d;
}
.cart-itm{
	border-bottom: 1px solid #DDD;
	font-size: 11px;
	font-family: arial;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
