/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Feb-2015, 19:22:46
    Author     : Assa Chana
*/
body{
    font-family: Helvetica;
}

#adminConsole{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #e74c3c;
    background-color: #ecf0f1;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    //text-transform: uppercase;
}

#nav a:hover, a:active {
    background-color: #95a5a6;
}

#currentStock table, th, td {
   border-collapse: collapse;
   border: 1px solid black;
}

table{
    width: 100%;
}

h1{
    text-align: center;
}