/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2015, 11:58:41
    Author     : Assa Chana
*/

#displayBooks{
    float: left;
}

.categorys{
    float: left;
}

#cat{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

#user{
    font-weight: bold;
    text-align: left;
}

#balance{
    color: #FF0000;
}

#login{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    background-color: white;
}

.header{
    text-align: center;
    font-size: 30px;
    -moz-border-radius: 22px; 
    -webkit-border-radius: 22px; 
    border-radius: 22px;
    border: 1px solid #bbb;
    
}

.header #motd{
    text-align: center;
    font-size: 20px;
}

ul.products form {
    width: 200px;
    display: inline-block;
}

#book_tittle{
    font-weight: bold;
}