/* 
    Created on : 25-Feb-2015, 17:49:59
    Author     : Assa Singh
*/

.login{
    position: absolute;
    top: 10px;
    right: 50px;
}

.register{
    float: right;
    position: absolute;
    top: 10px;
    right: -20px;
}

.login{
    float: left;
}