/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Mar-2015, 11:02:26
    Author     : Assa Chana
*/

.newBook{
    font-size: 150%;
    font-weight: bold;
}

#categories{
   //background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 150px;
   -webkit-appearance: none;
}