/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Mar-2015, 10:35:13
    Author     : Assa Chana
*/

.newUser{
    font-size: 150%;
    font-weight: bold;
}
