/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Mar-2015, 10:59:45
    Author     : Assa Chana
*/

.topup_student{
    font-size: 150%;
    font-weight: bold;
}